<%- include ("../layouts/cabecera.ejs") %> 
</br>
</br>
<div class="card" style="background-color:rgb(0,0,0); border-color: azure;">
    <div  class="card-header" style="color:aliceblue; font-family: 'Quicksand', sans-serif;">
        Formulario de captura
    </div>
    <div class="card-body">
        <h5 class="card-title" style="color:aliceblue;">Datos del libro</h5>
        <p class="card-text">
            <form method="post" action="/libros">
    
                <div class="form-group">
                    <label for="my-input" style="color:aliceblue;">Nombre</label>
                    <input id="my-input" class="form-control" type="text" name="nombre">
                </div>
            <!--
                <div class="form-group">
                    <label for="my-input">Imagen</label>
                    <input id="my-input" class="form-control-file" type="file" name="archivo">
                </div> -->

                <div class="form-group">
                    <label for="my-input" style="color:aliceblue;">Año</label>
                    <input id="my-input" class="form-control" type="text" name="fecha">
                </div>

                
                <div class="form-group">
                    <label for="my-input" style="color:aliceblue;">Número de páginas</label>
                    <input id="my-input" class="form-control" type="text" name="paginas">
                </div>

                <div class="form-group">
                    <label for="my-input" style="color:aliceblue;">Sinopsis</label>
                    <textarea id="my-input" class="form-control" id="exampleFormControlTextarea1" rows="3" name="sinopsis"></textarea>
                </div>

                <div class="form-group">
                    <label for="my-input" style="color:aliceblue;">Categoría</label>
                    <input id="my-input" class="form-control" type="text" name="categoria">
                </div>

                <div class="form-group">
                    <label for="my-input"style="color:aliceblue;" font-family: 'Quicksand', sans-serif;>Autor</label>
                    <input id="my-input" class="form-control" type="text" name="autor">
                </div>
                
                <button class="btn btn-light" type="submit" style="font-family:'Quicksand', sans-serif;" >Guardar</button>
                <a class="btn btn-light" href="/libros" style="font-family: 'Quicksand', sans-serif;">Cancelar</a>
                </form>

        </p>
    </div>
</div>


<%- include ("../layouts/pie.ejs") %> 